@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, sans-serif;
  background-color: white;
  color: black;
<<<<<<< HEAD
}
=======
}
>>>>>>> 9d0e21f97248f5f291dd2cbf944f86ed979f8186
